<p>lecture works!</p>



<!--((((string interbolation)))) one way From back To Front FOR The Sesting -->
<!--Ty : Variable {{}} in the html i will see the output -->
{{name}}
{{number}}

<!--((((Proparty Binding)))) From HTML examople ====>>> src(img) set the proparty in [] and get the variable from  -->
<img [src]="urlImg" width="100" height="100" />
<img src="{{urlImg}}" width="100" height="100" />



<!--((((Event Binding )))) Format To Write The Function in Angular-->
<button (click)="onchangeHadeel()">Change</button>



<!--Tow Way Binding the Change Will Run in Tow way-->
<!-- Should Set This in app.module.ts ((FormsModule)) To identifies Tow way Binding-->
<input type="number" value="{{number}}" [(ngModel)]="number" />


<!--I want To Controle The NAvBar Example I can Make Condition For The Display Of <P> I will Add IF condition -->
<p *ngIf="display == true">Hello World !</p>

<p *ngIf="numtest > 10"> The Number Is More Than 10 </p>

<!--ngStyle-->

<hr />
<h1 [ngStyle]="{'background-color': userobj.color}">{{userobj.name}}</h1>

<h1 [ngStyle]="{'backgroundColor': userobj.color}">{{userobj.name}}</h1>

<h1 [ngStyle]='{"color":userobj.color}'>orange coding Academy</h1>

<h1 [ngStyle]='{"color": "green"}'>orange coding Academy</h1>


<!--ngFor ngStyle(ngClass) -->

<div *ngFor="let item of arr" [ngClass]="{'greenColor': item.age > 24,'redColor':item.age <= 24}">
  <p>{{item.name}}</p>
  <p>{{item.age}}</p>
  <p>{{item.color}}</p>
</div>
